* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    background-color: #FFF8E1;
    color: #FF8A80 ;
}

/*-- HEADER SECTION --*/

.header {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
}

.header__items {
    max-width: 50%;
    margin: auto;
}

.header__items img {
    min-width: 20rem;
    max-width: 25%;
    border-radius: 50%;
    border: 4px solid #FFE0B2;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
}

/*-- MAIN SECTION --*/

p {
    font-size: 2rem;
    color: #4E342E;
    width: 100%;
    background-color: #fff;
    padding: 2rem;
}

main ul {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

li {
    background-color: #97E7E1;
    width: 75%;
    margin: 1rem auto;
    list-style: none;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    border: 2px solid #FFE0B2;
}

a {
    text-decoration: none;
    color: #00f;
    font-size: 1.5rem;
}