* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    background-color: #FFF8E1;
    color: #FF8A80 ;
}

/*-- HEADER SECTION --*/

.header {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
}

.header__items {
    max-width: 50%;
    margin: auto;
}

.header__items img {
    width: 50%;
    border-radius: 50%;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
}


h2 {
    font-size: 2rem;
}

li {
    background-color: #97E7E1;
    width: 75%;
    margin: auto;
    list-style: none;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid #7AA2E3;
}

a {
    text-decoration: none;
    color: blue;
}